/* Denne filen inneholder css stiler for alle HTML filene for Vink prosjektet */

/* Standard tekst stil for hele dokumentet */
body{
    background-color: #333;
    margin: auto;
    font-family: Poppins, Roboto, Verdana;
    font-size: smaller;
}

/* Denne brukes i hvert view for å begrense størrelse og gi en mørk bakgrunn for større skjermer for å simulere visning i mobil-format. */
.container {
    display: flex; /* Flexbox blir brukt for å ha mer kontroll over plassering av elementer på sidene, som guide benyttet vi oss mye av https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    min-height: 760px;
    background-color: #EBEBEB;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.7);
}


.navbar {
    margin-top: auto;
    display: flex;
    flex-direction: row; /* flexbox horisontal */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #d9d9d9;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #444444;
}

.navbar i {
    font-size: 20px;
}

/* knappene i navigasjonsmenyen */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    width:20%;
}
.navbar a:hover {
    background: #f1f1f1;
}

/* annen formatering for knappen som representerer siden som brukeren er på */
.navbar .aktivNav {
    color: #337a26;
    background: rgba(255,255,255,0.4);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

.hvitBoks {
    background: #FDFDFD;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#brukerContainer {
    width: 90%;
}

.tekstBoks {
    padding: 10px;
    margin: 20px;
    min-height: 100px;
    width: 90%;
    border: 2px dotted #ccc;
    border-radius: 5px;
}

.brukerP {
    margin: 5px 5px;
    color: green;
}

label {
    width: 60%;
    text-align: left;
    margin-top: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, serif;
}
.logo {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20%;
    margin-bottom: 10%;
}

.input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(140, 140, 140);
    box-sizing: border-box;
    border-width: 1px;
    color: rgb(18, 18, 18);
    margin: 0.5em 0;
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 14px;
    height: 3em;
    border-style: solid;
    width: 60%;
}

.button {
    display: table-cell;
    box-sizing: border-box;
    text-decoration: none;
    vertical-align: middle;


    text-align: center;
    background-color: #FFF;
    border: 3px solid #020300;
    border-radius: 3px;
    color: #020300;
    font-size: 18px;
    height: 70px;
    width: 60%;
    margin: 5px 5px;
    padding: 4px;
    line-height: normal;

}
.button:hover {
    background-color: rgba(150,180,225);
    font-weight: 600;
}

.button-dark {
    background-color: #020300;
    color: white;
    alignment: center;
}
.button-dark:hover {
    background-color: rgb(70,70,70);
}

.font {
    font-family:  Helvetica, Arial, serif;
}

a {
    text-decoration: none;
}

.resizedTextbox {
    height: 100px;
}

.ikoner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px 30px;
    margin: 16px 8px;
}
.ikonerProfil {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 6px;
    margin: 16px 8px;
}

.ikon {
    display: block;
    font-size: 2em;
    text-align: center;
    line-height: 74px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 50%; /* radius på 50% gir en sirkel */
    width: 80px;
    height: 80px;
    background-color: #F4F4F4;
    color: #444;
    transition: 0.4s;

}
.brukerIkon {
    display: block;
    font-size: 3em;
    text-align: center;
    line-height: 114px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #F4F4F4;
    color: #444;
    transition: 0.4s;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
}

.ikon:hover {
    background-color: #FFFFFF;

    border-color: #020300;
    font-size: 2.3em;
}

.ikonselected, .ikonselected:hover {
    border-color: #337a26;
    box-shadow: inset 0 0 8px #337a26;
    font-size: 2.5em;
    color: #111;
}

.ikonProfil {
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    line-height: 44px;
}
.ikonProfil:hover {
    font-size: 1.8em;
}

/* Chat samtaler liste */
.samtaleContainer {
    width: 90%;
}
.samtaleListeElement {
    background-color: #FDFDFD;
    color: #070d1a;
    width: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    padding-left: 20px;
    display: block;
    font-size: 18px;
}
.samtaleListeElement:hover {
    background-color: #FFF;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
}

/* Chat */
#titleBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ccc;
    width:100%;
    gap: 0px;
    font-size: 20px;

}
#titleBar a {
    color: #070d1a;
}

.chatContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.chatBoble {
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #FFF;
    max-width: 70%;
    font-size: 15px;
    padding: 10px;

}
.chatBobleLeft {
    margin-left: 10px;
    margin-right: auto;
}
.chatBobleRight {
    margin-left: auto;
    margin-right: 10px;
    background-color: #84a98c;
}

/* Tooltip metode basert på guide fra w3schools.com - https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    box-sizing: border-box;
    width: 100px;
    top:80%;
    left:50%;
    margin-left: -50px;
    font-size: 18px;
    background-color: #fff;
    color: #111;
    text-align: center;
    padding: 5px 0;
    border-radius: 12px;
    border: 2px solid #020300;
    opacity: 0;
    transition: opacity 0.4s;
    line-height: normal;
    padding: 3px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.ikonselected .tooltiptext {
    visibility: visible;
    border-color: #337a26;
    opacity: 1;
}

.chatbutton {
    border: 1px solid #c8c8c8;
    width: 90%;
    max-height: 50px;
    text-align: left;
}

/* CSS animation basert på https://stackoverflow.com/questions/16989585/css-3-slide-in-from-left-transition */
.slideDiv {
    position: relative;
    top: -500px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { top: 0; }
}

@keyframes slide {
    100% { top: 0; }
}
